<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Report</title>
</head>
<body>
    <h1>Submit Report</h1>
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
    <form action="{% url 'MediGuard:report' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="whistleblower">Whistleblower:</label><br>
        <input type="text" id="whistleblower" name="whistleblower" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>

        <label for="file">File:</label><br>
        <input type="file" id="file" name="file"><br><br>  <!-- Add file input field -->

        <input type="submit" value="Submit">
    </form>
</body>
</html>

