{% load socialaccount %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Report List</title>
        <link rel="stylesheet" href="{% static 'nav.css' %}">
</head>

<body class="bg-light">
        {% include 'header.html' %}

   <div style="padding-left: 15px; padding-right: 15px; padding-top: 15px">
    {% if reports %}
        {% for report in reports %}
            {% if forloop.first or forloop.counter0|divisibleby:3 %}
                <div class="row">
            {% endif %}
            <div class="col-md-4 mb-3">
                <a href="{% url 'MediGuard:report_detail' report.id %}" style="color:black; text-decoration: none">
                <div class="card" style="cursor: pointer; transition: box-shadow 0.3s, transform 0.3s;"
                     onmouseover="this.style.boxShadow='0 4px 8px rgba(3, 138, 255)'; this.style.transform='scale(1.03)';"
                     onmouseout="this.style.boxShadow='none'; this.style.transform='scale(1)';">
                    <div class="card-body">
                        <h5 class="card-title">{{ report.subject|truncatechars:50 }}</h5>
                        <p class="card-text"><strong>Date Published: </strong>{{ report.date_time }}</p>
                        <p class="card-text"><strong>Status: </strong>{{ report.status }}</p>
                    </div>
                </div>
                </a>
            </div>
            {% if forloop.last or forloop.counter|divisibleby:3 %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>There are no reports available at this time</p>
    {% endif %}
</div>
</body>
<br><br>
<footer style="margin-top: 15px;  position:relative; bottom:0; width:100%">
        {% include 'footer.html' %}
</footer>
</html>